.App {
	height: 100%;
}

.app-container {
	min-height: 100vh;
}
.indigo.darken-4 {
	background-color: #4d4d4e !important;
}

.btn,
.btn-large,
.btn-small {
	background-color: #4594da;
}

/* .row .col {
	float: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0.75rem;
	min-height: 1px;
} */

@media only screen and (max-width: 600px) {
	.row .col.s12 {
		margin-top: 57px;
		width: 100%;
	}
}
