.header-text {
	display: flex;
}

.geekconnector {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	cursor: pointer;
}
.geeks {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	cursor: pointer;
}
ul > li {
	list-style: none;
	margin-right: 20px;
}
