img.responsive-img {
	height: 34px;
	margin-top: 15px;
}

@media only screen and (max-width: 600px) {
	ul.right.valign-wrapper {
		padding-left: 0;
		list-style-type: none;
		width: 100%;

		background: black;
	}

	.logout {
		display: flex;
		position: absolute;
		top: 20;
		top: 0px;
		right: 20px;
	}
}
