.Landing-page {
	display: flex;
	height: 100vh;
}

.Homepage {
	width: 100%;
	background: #4ba0eb;
	padding: 17%;
}

.users {
	display: flex;
	margin-bottom: 5%;
}
.search {
	display: flex;
	margin-bottom: 5%;
}
.chat {
	display: flex;
}

.users p {
	color: white;
	font-size: 20px;
}

.search p {
	color: white;
	font-size: 20px;
}
.chat p {
	color: white;
	font-size: 20px;
}

.container {
	width: 100%;
	margin: auto;
	font-weight: 300;
}
.fas {
	font-size: 30px;
	/* margin-top: 15px; */
	margin-right: 8px;
	color: white;
}

.leftbar-container {
	display: flex;
	flex-direction: column;
	padding: 10%;
	margin-top: 82px;
}

.leftbar-buttons {
	display: flex;
	flex-direction: column;
	padding-bottom: 10%;
	margin-top: 15px;
}

.leftbar-buttons > * button {
	width: 90%;
	color: rgb(255, 248, 248);
	background-color: rgb(58, 142, 238);
	margin-bottom: 10%;
	border-radius: 100px;
	outline: none;
	cursor: pointer;
	border-radius: 100px;
	box-shadow: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding: 6px 16px;

	text-align: center;
	white-space: nowrap;
}

.leftbar-buttons > * button:hover {
	background-color: rgb(12, 12, 230);
}

@media only screen and (min-device-width: 306px) and (max-device-width: 904px) and (-webkit-min-device-pixel-ratio: 1) {
	.Landing-page {
		display: block;
		min-height: 100vh;
	}
}
